<div  class="container">
  <div class="title-site"> 
    <img src="../assets/logo_slider_home@1x.png" alt="">
  </div>

  <nav class="navbar navbar-expand-lg navbar-light ">
   
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        
        </ul>
      </div>
    </nav>
      <div class="container">
        <h3>
             Pamper Yourself Pretty
        </h3>
        <p>
          Treat yourself to one our sgnature services.our beloved beauty
          experts will wow your brows, get you glowin and so much more, You'll
          leave looking and feeling more goreous then ever befor
        </p> 
       
        <button type="button" class="btn ">I reserve</button>
      </div> 
    

    
</div>


<img src="../assets/slider_image_home@1x.png" class="img-fluid" alt="" class="img-page">



<div class=" section2" >

      <h3>
           Pamper Yourself Pretty
      </h3>
      <p>
        Treat yourself to one our sgnature services.our beloved beauty
        experts will wow your brows, get you glowin and so much more, You'll
        leave looking and feeling more goreous then ever befor
      </p> 
     
  
</div>
<div class="section3" >

 <img src="../assets/recomended_background_image@1x.png" alt="" class="img-page">
 <h3>
   TESTED,APROVED & RECOMENDED BY
</h3>
<h1>  CAPITAL</h1>
<p>
 'Myglam app takes the much needed mantle
 of beauty concierge in Central London'
</p> 
     
</div>

<div class =" section4">
    <h6> HOW IT WORKS ?</h6>
    <div class="row">
        <img src="../assets/title _line_section@1x.png" alt="">
    </div>
    
   
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../assets/ic_booking@1x.png" alt="">
              <div class="card-body">
                  <h5 class="card-title">Booking</h5>
                  <p class="card-text">Choose your service and fill your availabilities and  your  location</p>
              </div> 
            
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../assets/ic_payment@1x.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">Payment</h5>
                  <p class="card-text">Set your payment link to confirm your appointment  </p>
                  <p class="card-text">Payment is  100%  online via a secure </p>
                 </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="../assets/ic_meeting@1x.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">Meeting</h5>
                  <p class="card-text">The appointment, a moment for you, with a passionate expert and listening to your desires </p>
                      </div>
              </div>
        </div>
      </div>
 

      <button type="button" class="btn ">I reserve</button>
</div>

<div class =" section5">
    <h6> WE ARE CLOSE TO YOU ON</h6>
    <div class="row">
        <img src="../assets/title _line_section@1x.png" alt="">
    </div>
    <div class=" container2">
        <div class="row">
            <div class="col">
              <img class="" src="../../assets/mobile_phones@1x.png" alt=""> 
            </div>
            <div class="col">
              <p>Polish hurry and technophilie ... Three, two, one ... Fire !! 
                Our app is available on your smartphone ! You can also  make an appointment on our mabile
                site
              </p>
              
                <div class="row">
                    <div class="col">
                        <input type="image" class="btn-img" src="../../assets/ic_available_app_store_norml@1x.png" alt="Submit">
                    </div>
                    <div class="col">
                        <input type="image" class="btn-img" src="../../assets/ic_available_google_play_normal@1x.png" alt="Submit">
                    </div>
                </div>
                <button type="button" class="btn ">I reserve</button>
                
            </div>
           
          </div>
    </div>
    
 

      
</div>

